<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.phonegap.core.phonedialer"
    version="0.2.0">
    <name>PhoneDialer</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,dialer</keywords>

    <js-module src="www/dialer.js" name="phonedialer">
        <merges target="phonedialer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneDialer">
                <param name="ios-package" value="PhoneDialer"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PhoneDialer.h"/>
        <source-file src="src/ios/PhoneDialer.m"/>
    </platform>
</plugin>